---
layout: default
---
  <title>Cols</title>
  <style>
    #left {
      width: 270px;
      float: left;
    }
    #right {
      margin-left: 270px;
    }
    .clear {
      clear: both;
    }
  </style>
  <div id="container">
    <div id="left">
      <img src="../images/booker.jpg" alt="Booker" width="189" height="252">
      <img src="../images/ian.jpg" alt="Booker" width="189" height="252">
      <img src="../images/veronica.JPG" alt="Veronica" width="247" height="164">
    </div>
    <div id="right">
      {{ content }}
    </div>
    <div class="clear"></div>
  </div>
